<div class='card-header'>
  <div class='row'>
    <div class='col-9'>
      <h4 class='m-0'>
        Listas de Tarefas
      </h4>
    </div>
    <div class='col-3'>
      <div class='d-flex justify-content-between'>
        <%= link_to 'Nova lista', new_todo_list_path, class: 'btn btn-primary'%>
        <%= link_to 'Gráficos', graphics_index_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>
</div>
<div class='card-body pl-0'>
  <ul class='list-group'>
    <% @todo_lists.each do |todo_list| %>
      <% if todo_list.status == 'Lista finalizada' %>
        <%= link_to todo_list, class: 'text-decoration-none' do %>
          <li class="list-group-item d-flex justify-content-between bg-secondary" style="--bs-bg-opacity: .1;">
            <div>
              <h6 class='m-0 text-dark'>
                <b><%= todo_list.title %></b>
                <span class="badge bg-<%= todo_list.badge_color %>"><%= todo_list.status %></span>
              </h6>
              <p class='text-secondary m-0'><small><%= todo_list.percent_complete %>% Completo (<%= todo_list.completed_items %>/<%= todo_list.total_items %> Itens)</small></p>
            </div>
          </li>
        <% end%>
      <% else %>
        <%= link_to todo_list, class: 'text-decoration-none' do %>
          <li class='list-group-item d-flex justify-content-between'>
            <div>
              <h6 class='m-0 text-dark'>
                <b><%= todo_list.title %></b>
                <span class="badge bg-<%= todo_list.badge_color %>"><%= todo_list.status %></span>
              </h6>
              <p class='text-secondary m-0'><small><%= todo_list.percent_complete %>% Completo (<%= todo_list.completed_items %>/<%= todo_list.total_items %> Itens)</small></p>
            </div>
          </li>
        <% end%>
      <% end %>
    <% end %>
  </ul>
</div>




