<div class='card-header'>
  <div class='row'>
    <div class='col-1'>
      <%= link_to todo_lists_path, class: 'btn btn-dark' do %>
        <i class="bi bi-arrow-return-left"></i>
      <%end%>
    </div>
    <div class='col-11'>
      <div class='d-flex justify-content-between'>
        <div>
          <h5 class='m-0'>
            <b><%= @todo_list.title %></b>
            <span class="badge bg-<%= @todo_list.badge_color %>"><%= @todo_list.status %></span>
          </h5>
          <p class='text-secondary m-0'><small><%= @todo_list.percent_complete %>% Completo (<%= @todo_list.completed_items %>/<%= @todo_list.total_items %> Itens)</small></p>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Opções
          </button>
          <ul class="dropdown-menu">
            <li><a><%= link_to 'Editar', edit_todo_list_path(@todo_list), class: 'dropdown-item' %></a></li>
            <li><a><%= link_to 'Exportar CSV', export_csv_todo_list_todo_items_path(@todo_list) , class: 'dropdown-item' %></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a>
              <%= link_to 'Deletar Lista', todo_list_path, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'dropdown-item text-danger' %>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='card-body'>
  <div class="progress mb-4">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= @todo_list.percent_complete %>%" aria-valuenow="<%= @todo_list.percent_complete %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <%= form_with(model: [@todo_list, @todo_item]) do |f| %>
    <div class="input-group mb-4">
      <%= f.text_field :description, class: 'form-control', placeholder: 'Adicione uma tarefa', required: true, minlength: 3 %>
      <div class='input-group-append'>
        <%= f.submit "Adicionar", class: 'btn btn-primary input-group-btn' %>
      </div>
    </div>
  <% end %>

  <ul clas='list-group'>
    <% @todo_list.todo_items.each do |todo_item| %>
      <% if todo_item.completed? %>
        <li class='list-group-item bg-light'>
          <div class="container">
            <div class="row">
              <div class="col-10">
                <span class='text-muted'>
                <%= todo_item.description %>
                </span>
              </div>
              <div class="col-2">
                <div class='d-flex justify-content-behind'>
                  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                    <i class="bi bi-x-square"></i>
                  <% end %>
                  <%= link_to '#', class: 'btn btn-dark', data: { reflex: 'click->TodoItem#mark_incomplete', id: todo_item.id } do %>
                    <i class="bi bi-arrow-counterclockwise"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% else %>
        <li class='list-group-item'>
          <div class="container">
            <div class="row">
              <div class="col-10">
                <span>
                <%= todo_item.description %>
                </span>
              </div>
              <div class="col-2">
                <div class='d-flex justify-content-behind'>
                  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                    <i class="bi bi-x-square"></i>
                  <% end %>
                  <%= link_to '#', class: 'btn btn-info', data: { reflex: 'click->TodoItem#mark_complete', id: todo_item.id } do %>
                    <i class="bi bi-check2-square"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
